h2, h4{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

form{
    color: white;
}

h2{
    text-align: center;
    font-size: 40px;
}

p{
    color: wihte;
}

.hidden{
    display: none;
}

.row{
    color: white;
}

h1{
    text-align: center;
    font-size: 5rem !important;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
background-image: url("../../assets/images/background.jpg");
}

.character-image{
    max-height: 150px;
}

div.character-container{
    /* width: 200px; */
    margin: 5px;
    float: left;
    color: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }